<a href="https://colab.research.google.com/github/Swetha-Rajinikanth/Linear-Discriminant-Analysis/blob/main/python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA STRUCTURES

  #STRING(str)

     # ESCAPE SEQUENCE

  #LIST(list)

  #TUPLE(tuple)

  #SET(set)
  
  #DICTIONARY

In [ ]:
#STRING FUNCTIONS
A= "A String is a sequence of characters"
print(type(A))
print(len(A))#LENGTH
print(A.count("i"))
print(A[3])#ACCESSING CHARACTERS IN STRING
print(A[1:23])#SLICING
print(A[-5:-1])#NEGATIVE INDEXING
print(A[5:-1])#BOTH +VE AND -VE INDEXING IN SINGLE CODE
print(A[1:30:2])#[START:STOP:STEP]
print(A[::-1])#REVERSE A STRING
print(A.split(" ",5))#SPLITTING
B= "Upper case letters"
C= "LOWER CAse letters"
D= "title case letters"
E= B.upper()#UPPER CASE
F= C.lower()#LOWER CASE
G= D.title()#TITLE CASE
print(E)
print(F)
print(G)
print(G.swapcase())
print(E.isupper())#CHECKING UPPER CASE
print(F.islower())#CHECKING LOWER CASE
print(G.istitle())#CHECKING TITLE CASE
I= "    EXAMPLE FOR USING STRIP IN STRING***"
print(I.strip())#STRIP(REMOVES SPACES, TABS AND CHARACTERS ONLY IN THE START AND END OF THE SEQUENCE)
print(I.strip("*"))#REMOVES *
print(I.find("S"))#TO FIND THE INDEX OF THE CHARACTERS
print("USING" in I)#IN
J="EXAMPLE FOR REPLACE EXAMPLE EXAMPLE"
print(J.replace("EXAMPLE","EXERCISE",2))#REPLACE THE WORD "EXAMPLE"(2 REPRESENTS ONLY 2 EXAMPLE SHOULD BE REPLACED BY 2 EXERCISE)
print(J*3)#REPEAT WITHOUT SPACE
print((J+" ")*3)#REPEAT WITH SPACE
K= "TITLE"
print(K.center(40))
print(K.center(20,"-"))
del K
L= """MULTIPLE
LINE
STRINGS"""
print(L)#INORDER TO ASSIGN MULTILINE STRING(CAN ALSO USE SINGLE QUOTES INSTEAD OF DOUBLE)
NAME="SWETHA"
AGE=23
M= "MY NAME IS {} AND MY AGE IS {}".format(NAME,AGE)
print(M)#FORMAT
N= f"MY NAME IS {NAME} AND MY AGE IS {AGE}"
print(N)#FSTRING
O= "MY NAME IS %s AND MY AGE IS %d"%(NAME,AGE)
print(O)#OLD STYLE(S FOR STRING D FOR DECIMAL F FLOAT etc.,)
P= "HELLO"
Q= "WORLD"
print(P+" "+Q)#CONCATINATION
print(P+" PYTHON")#UPDATE

<class 'str'>
36
2
t
 String is a sequence
cter
ing is a sequence of character
 tigi  euneo hr
sretcarahc fo ecneuqes a si gnirtS A
['A', 'String', 'is', 'a', 'sequence', 'of characters']
UPPER CASE LETTERS
lower case letters
Title Case Letters
tITLE cASE lETTERS
True
True
True
EXAMPLE FOR USING STRIP IN STRING***
    EXAMPLE FOR USING STRIP IN STRING
17
True
EXERCISE FOR REPLACE EXERCISE EXAMPLE
EXAMPLE FOR REPLACE EXAMPLE EXAMPLEEXAMPLE FOR REPLACE EXAMPLE EXAMPLEEXAMPLE FOR REPLACE EXAMPLE EXAMPLE
EXAMPLE FOR REPLACE EXAMPLE EXAMPLE EXAMPLE FOR REPLACE EXAMPLE EXAMPLE EXAMPLE FOR REPLACE EXAMPLE EXAMPLE
                 TITLE
-------TITLE--------
MULTIPLE
LINE
STRINGS
MY NAME IS SWETHA AND MY AGE IS 23
MY NAME IS SWETHA AND MY AGE IS 23
MY NAME IS SWETHA AND MY AGE IS 23
HELLO WORLD
HELLO PYTHON

In [ ]:
#ESCAPE SEQUENCE
FIRST= "AN EXAMPLE \nFOR ESCAPE SEQUENCE"
SECOND= "AN EXAMPLE \tFOR ESCAPE SEQUENCE"
THIRD= "AN EXAMPLE FOR \"ESCAPE SEQUENCE\""
FOURTH= "AN EXAMPLE FOR \rESCAPE SEQUENCE"
FIFTH= "AN EXAMPLE FOR \bESCAPE SEQUENCE"
SIXTH= "AN EXAMPLE FOR \'ESCAPE SEQUENCE\'"
SEVENTH= "AN EXAMPLE FOR ESCAPE SEQUENCE \\CHARACTER"
print(FIRST)
print(SECOND)
print(THIRD)
print(FOURTH)
print(FIFTH)
print(SIXTH)
print(SEVENTH)

AN EXAMPLE
FOR ESCAPE SEQUENCE
AN EXAMPLE 	FOR ESCAPE SEQUENCE
AN EXAMPLE FOR "ESCAPE SEQUENCE"
ESCAPE SEQUENCE
AN EXAMPLE FOR ESCAPE SEQUENCE
AN EXAMPLE FOR 'ESCAPE SEQUENCE'
AN EXAMPLE FOR ESCAPE SEQUENCE \CHARACTER

In [ ]:
#LIST FUNCTIONS
a=["list","are","used","to","store","multiple","items","in","a","single","variable"]
print(" ".join(a))#only when strings are present
print(type(a))#CHECKING DATA TYPE
b=[1,2,3]
for x in b:
  print(x)
c=["mutable","ordered"]
#ADDING ELEMENTS OR LIST
b.extend(c)
print(b)
c.insert(1,"sequence")
print(c)
c.append("duplicates")
print(c)
#REMOVING ELEMENTS OR THE LIST ITSELF
c.remove("mutable")
print(c)
c.pop()
print(c)
c.pop(1)
print(c)
c.clear()
print(c)
del c
d=[2,6,34,4,1,7,100]
d.sort()#SORT IN ASCENDING ORDER
print(d)
d.sort(reverse=True)#SORT IN DESCENDING
print(d)
d.reverse()
print(d)
e=d.copy()
print(e)
f=list(a)#SAME AS COPY
print(f)
print(f.count("a"))
print(len(f))#LENGTH OF THE LIST
if "list" in f:
  print("TRUE")
g=list((1,2,3,4,5)*5)
print(g)
h=["car","bus","bike","train","plane","van","cycle"]
print(h[3:5])
print(h)
h[3]= "metro"
print(h)#REPLACING VALUES USING INDEX NUMBER
h[3:5]=["jet","scooter"]
print(h)
h[:]=["vehicles"]
print(h)

list are used to store multiple items in a single variable
<class 'list'>
1
2
3
[1, 2, 3, 'mutable', 'ordered']
['mutable', 'sequence', 'ordered']
['mutable', 'sequence', 'ordered', 'duplicates']
['sequence', 'ordered', 'duplicates']
['sequence', 'ordered']
['sequence']
[]
[1, 2, 4, 6, 7, 34, 100]
[100, 34, 7, 6, 4, 2, 1]
[1, 2, 4, 6, 7, 34, 100]
[1, 2, 4, 6, 7, 34, 100]
['list', 'are', 'used', 'to', 'store', 'multiple', 'items', 'in', 'a', 'single', 'variable']
1
11
TRUE
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
['train', 'plane']
['car', 'bus', 'bike', 'train', 'plane', 'van', 'cycle']
['car', 'bus', 'bike', 'metro', 'plane', 'van', 'cycle']
['car', 'bus', 'bike', 'jet', 'scooter', 'van', 'cycle']
['vehicles']

In [ ]:
#TUPLE FUNCTIONS
Z=("one","two","three","four","five","six","seven","eight","nine","ten")
#CAN BE MODIFIED BY CONVERTING TUPLE INTO LIST AND CAN DO WHATEVER FUNCTIONS THAT ARE APPLICABLE IN LIST
print(type(Z))#CHECKING DATA TYPE
print(Z[-3])#ACESSING ELEMENTS IN TUPLE USING INDEX NUMBER
print(Z[2:8])
print(Z[5])
print(len(Z))#LENGTH OF THE TUPLE
Y=("eleven",)#SINGLE ELEMENT IN A TUPLE SHOULD BE FOLLOWED BY COMMA
X= ("twelve","thirteen","fourteen","fifteen")

W= Z+X#CONCATENATE
print(W)
if "twelve" not in W:
  print("TRUE")#CHECKING WHETHER THE ELEMENT IS PRESENT IN THE SPECIFIED TUPLE
V=list(W)#CONVERTING TUPLE INTO LIST
print(V)
V.insert(10,"eleven")
print(V)
U=(1,2,3,4,3,5,2,6,8,10,8,3)
print(U.count(3))
del U
T= ("lemon", "apple", "cucumber")#UNPACKING TUPLES
(yellow,red,green)=T
print(yellow)
print(red)
print(green)
S=("lemon", "apple", "cucumber","orange","banana","grapes")
(yellow,*red)=S
print(yellow)
print(red)
R =("apple","cucumber","mango","orange","papaya")
(red,*green,yellow) = R
print(red)
print(green)
print(yellow)
a,c,_,_,p = (1,2,3,4,5)
print(a)
print(c)
print(p)

<class 'tuple'>
eight
('three', 'four', 'five', 'six', 'seven', 'eight')
six
10
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'twelve', 'thirteen', 'fourteen', 'fifteen')
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'twelve', 'thirteen', 'fourteen', 'fifteen']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen']
3
lemon
apple
cucumber
lemon
['apple', 'cucumber', 'orange', 'banana', 'grapes']
apple
['cucumber', 'mango', 'orange']
papaya
1
2
5

In [ ]:
#SET FUNCTIONS(IN SET 1 AND TRUE IS CONSIDERED THE SAME VALUE AND 0 AND FALSE IS CONSIDERED THE SAME VALUE)
z={"one","two","three","four","five","six","seven","eight","nine","ten"}
print(type(z))#CHECKING DATA TYPE
print(len(z))#LENGTH OF THE SET
print("three" in z)
print("three" not in z)
z.add("eleven")
print(z)
x={"twelve","thirteen","fourteen","fifteen"}
z.update(x)#FOR THE UPDATE FUNCTION IT'S NOT NECESSARY THAT ONLY SET SHOULD BE UPDATED
w=["sixteen","seventeen","eighteen"]
z.update(w)
print(z)
z.remove("fourteen")
print(z)#IF THE SPECIFIED DOES NOT EXIST REMOVE WILL RAISE ERROR WHEREAS DISCARD WILL NOT
z.discard("fifteen")
print(z)
z.pop()#REMOVES RANDOM ELEMENT
print(z)
x.clear()
print(x)
del x
v=z.copy()
print(v)
u={"car","bus","van","train",3,5,7,0,1}
t={"car","bike","cycle"}
s={1,2,3,4,5}
r={"apple","banana","orange"}
union1=t.union(s)#UNION
print(union1)
union2=t | s
print(union2)
union3=u.union(s,t,r)#UNION OF MORE THAN 2 SETS
print(union3)
union4=u | s | t | r
print(union4)
intersection1=u.intersection(s)#INTERSECTION
print(intersection1)
intersection2=u & s
print(intersection2)
intersection3=u.intersection(s,t,r)#INTERSECTION OF MORE THAN 2 SETS
print(intersection3)
intersection4=u & s & t & r
print(intersection4)
difference1=u.difference(t)#DIFFERENCE
print(difference1)
difference2=u-t
print(difference2)
difference3=u.difference(t,r)#DIFFERENCE OF MORE THAN 2 SETS
print(difference3)
difference4=u-t-r
print(difference4)
symmetric_difference1=u.symmetric_difference(t)#SYMMETRIC DIFFERENCE
print(symmetric_difference1)
symmetric_difference2=u^t
print(symmetric_difference2)
symmetric_difference3=u^t^r
print(symmetric_difference3)
q={"a","c","f","y","r","apple","banana",True,False,2,3,4}
p={1,2,3,4,5,6}
o={"d","x","g","a","y"}
n={"apple","strawbwrry","banana","orange"}
q.update(p)#UPDATE
print(q)
q.update(p,o,n)
print(q)
q |= p
print(q)
q |= p | o | n
print(q)
q.intersection_update(p)#INTERSECTION UPDATE
print(q)
q.intersection_update(p,o,n)
print(q)
q&=p
print(q)
q&=p&o&n
print(q)
q.difference_update(o)#DIFFERENCE UPDATE
print(q)
q.difference_update(o,n)
print(q)
q-=o
print(q)
q-=o-n
print(q)
q.symmetric_difference_update(o)#SYMMETRIC DIFFERENCE UPDATE
print(q)
q^=o
print(q)
q^=o^n
print(q)
FIRST={1,2,4,6,8,9}
SECOND={1,2,3,4,5,6,7,8,9,10}
print(FIRST.issubset(SECOND))
print(FIRST<=SECOND)#CHECKING WHETHER FIRST SET IS THE SUBSET OF SECOND
print(SECOND.issuperset(FIRST))
print(SECOND>=FIRST)#CHECKING WHETHER SECOND SET IS THE SUPER SET OF FIRST
print(FIRST.isdisjoint(SECOND))#CHECKING WHETHER FIRST AND SECONS SET ARE DISJOINT
print(FIRST < SECOND)#PROPER SUBSET
print(SECOND > FIRST)#PROPER SUPERSET

<class 'set'>
10
True
False
{'four', 'six', 'ten', 'nine', 'eleven', 'eight', 'three', 'one', 'five', 'two', 'seven'}
{'four', 'six', 'fourteen', 'twelve', 'ten', 'nine', 'eleven', 'fifteen', 'sixteen', 'eighteen', 'thirteen', 'eight', 'seventeen', 'three', 'one', 'five', 'two', 'seven'}
{'four', 'six', 'twelve', 'ten', 'nine', 'eleven', 'fifteen', 'sixteen', 'eighteen', 'thirteen', 'eight', 'seventeen', 'three', 'one', 'five', 'two', 'seven'}
{'four', 'six', 'twelve', 'ten', 'nine', 'eleven', 'sixteen', 'eighteen', 'thirteen', 'eight', 'seventeen', 'three', 'one', 'five', 'two', 'seven'}
{'six', 'twelve', 'ten', 'nine', 'eleven', 'sixteen', 'eighteen', 'thirteen', 'eight', 'seventeen', 'three', 'one', 'five', 'two', 'seven'}
set()
{'six', 'twelve', 'ten', 'nine', 'eleven', 'sixteen', 'eighteen', 'thirteen', 'eight', 'seventeen', 'three', 'one', 'five', 'two', 'seven'}
{1, 2, 3, 4, 5, 'car', 'bike', 'cycle'}
{1, 2, 3, 4, 5, 'car', 'bike', 'cycle'}
{0, 1, 2, 3, 4, 5, 'apple', 7, 'banana', 'car', 'van', 'bus', 'bike', 'cycle', 'train', 'orange'}
{0, 1, 2, 3, 4, 5, 'apple', 7, 'banana', 'car', 'van', 'bus', 'bike', 'cycle', 'train', 'orange'}
{1, 3, 5}
{1, 3, 5}
set()
set()
{0, 1, 3, 5, 7, 'van', 'bus', 'train'}
{0, 1, 3, 5, 7, 'van', 'bus', 'train'}
{0, 1, 3, 5, 7, 'van', 'bus', 'train'}
{0, 1, 3, 5, 7, 'van', 'bus', 'train'}
{0, 1, 3, 5, 7, 'van', 'bus', 'bike', 'cycle', 'train'}
{0, 1, 3, 5, 7, 'van', 'bus', 'bike', 'cycle', 'train'}
{'apple', 0, 'banana', 1, 3, 5, 7, 'van', 'bus', 'bike', 'cycle', 'train', 'orange'}
{'apple', True, 'banana', 2, False, 3, 4, 'f', 5, 6, 'c', 'y', 'r', 'a'}
{'apple', True, 'banana', 2, False, 3, 4, 5, 6, 'a', 'g', 'orange', 'c', 'y', 'strawbwrry', 'x', 'r', 'd', 'f'}
{'apple', True, 'banana', 2, False, 3, 4, 5, 6, 'a', 'g', 'orange', 'c', 'y', 'strawbwrry', 'x', 'r', 'd', 'f'}
{'apple', True, 'banana', 2, False, 3, 4, 5, 6, 'a', 'g', 'orange', 'c', 'y', 'strawbwrry', 'x', 'r', 'd', 'f'}
{1, 2, 3, 4, 5, 6}
set()
set()
set()
set()
set()
set()
set()
{'x', 'g', 'y', 'd', 'a'}
set()
{'apple', 'x', 'banana', 'orange', 'g', 'y', 'strawbwrry', 'd', 'a'}
True
True
True
True
False
True
True

In [ ]:
#DICTIONARY FUNCTIONS
dict1={"first":"apple","second":"orange","third":"banana","fourth":"mango","fifth":"pineapple"}
print(len(dict1))
print(dict1["second"])
print(dict1.keys())
print(dict1.values())
print(dict1.get("fifth"))
print(dict1.items())
for x in enumerate(dict1):
  print(x)
dict2=dict1.copy()
print(dict2)
for index,(key,value) in enumerate(dict1.items()):
  print(index,key,value)
print(type(dict1))
if "second" in dict1:
  print("TRUE")
dict1["first"]="grapes"
print(dict1)
dict1["sixth"]="apple"
print(dict1)
dict1.update({"seventh":"orange"})
print(dict1)
dict1.pop("seventh")
print(dict1)
dict1.popitem()
print(dict1)
del dict1["fifth"]
print(dict1)
dict1.clear()
print(dict1)
del dict1
dict3= {
    "student1":{
        "name":"AAA",
        "age":10,
        "courses":["PYTHON","SPSS"]
        },
    "student2":{
        "name":"BBB",
        "age":1,
        "courses":["SQL","R"]
        }
}
print(dict3)
print(dict3["student1"])
print(dict3["student1"]["courses"])
print(dict3["student1"]["courses"][1])
dict4={
    "student3":{
        "name":"CCC",
        "age":11,
        "courses":["PYTHON","SPSS"]
        },
    "student4":{
        "name":"DDD",
        "age":12,
        "courses":["SQL","R"]
        }
}
print(dict4)
dict3.update(dict4)
print(dict3)
dict3["student5"]={
    "name":"EEE",
    "age":13,
    "courses":["PYTHON","R"]
    }
print(dict3)
dict3["student1"].setdefault("name","AAA")
print(dict3)
dict3["student1"].setdefault("year",2024)
dict3["student2"].setdefault("year",2022)
dict3["student2"]["courses"].append("SPSS")
print(dict3)

5
orange
dict_keys(['first', 'second', 'third', 'fourth', 'fifth'])
dict_values(['apple', 'orange', 'banana', 'mango', 'pineapple'])
pineapple
dict_items([('first', 'apple'), ('second', 'orange'), ('third', 'banana'), ('fourth', 'mango'), ('fifth', 'pineapple')])
(0, 'first')
(1, 'second')
(2, 'third')
(3, 'fourth')
(4, 'fifth')
{'first': 'apple', 'second': 'orange', 'third': 'banana', 'fourth': 'mango', 'fifth': 'pineapple'}
0 first apple
1 second orange
2 third banana
3 fourth mango
4 fifth pineapple
<class 'dict'>
TRUE
{'first': 'grapes', 'second': 'orange', 'third': 'banana', 'fourth': 'mango', 'fifth': 'pineapple'}
{'first': 'grapes', 'second': 'orange', 'third': 'banana', 'fourth': 'mango', 'fifth': 'pineapple', 'sixth': 'apple'}
{'first': 'grapes', 'second': 'orange', 'third': 'banana', 'fourth': 'mango', 'fifth': 'pineapple', 'sixth': 'apple', 'seventh': 'orange'}
{'first': 'grapes', 'second': 'orange', 'third': 'banana', 'fourth': 'mango', 'fifth': 'pineapple', 'sixth': 'apple'}
{'first': 'grapes', 'second': 'orange', 'third': 'banana', 'fourth': 'mango', 'fifth': 'pineapple'}
{'first': 'grapes', 'second': 'orange', 'third': 'banana', 'fourth': 'mango'}
{}
{'student1': {'name': 'AAA', 'age': 10, 'courses': ['PYTHON', 'SPSS']}, 'student2': {'name': 'BBB', 'age': 1, 'courses': ['SQL', 'R']}}
{'name': 'AAA', 'age': 10, 'courses': ['PYTHON', 'SPSS']}
['PYTHON', 'SPSS']
SPSS
{'student3': {'name': 'CCC', 'age': 11, 'courses': ['PYTHON', 'SPSS']}, 'student4': {'name': 'DDD', 'age': 12, 'courses': ['SQL', 'R']}}
{'student1': {'name': 'AAA', 'age': 10, 'courses': ['PYTHON', 'SPSS']}, 'student2': {'name': 'BBB', 'age': 1, 'courses': ['SQL', 'R']}, 'student3': {'name': 'CCC', 'age': 11, 'courses': ['PYTHON', 'SPSS']}, 'student4': {'name': 'DDD', 'age': 12, 'courses': ['SQL', 'R']}}
{'student1': {'name': 'AAA', 'age': 10, 'courses': ['PYTHON', 'SPSS']}, 'student2': {'name': 'BBB', 'age': 1, 'courses': ['SQL', 'R']}, 'student3': {'name': 'CCC', 'age': 11, 'courses': ['PYTHON', 'SPSS']}, 'student4': {'name': 'DDD', 'age': 12, 'courses': ['SQL', 'R']}, 'student5': {'name': 'EEE', 'age': 13, 'courses': ['PYTHON', 'R']}}
{'student1': {'name': 'AAA', 'age': 10, 'courses': ['PYTHON', 'SPSS']}, 'student2': {'name': 'BBB', 'age': 1, 'courses': ['SQL', 'R']}, 'student3': {'name': 'CCC', 'age': 11, 'courses': ['PYTHON', 'SPSS']}, 'student4': {'name': 'DDD', 'age': 12, 'courses': ['SQL', 'R']}, 'student5': {'name': 'EEE', 'age': 13, 'courses': ['PYTHON', 'R']}}
{'student1': {'name': 'AAA', 'age': 10, 'courses': ['PYTHON', 'SPSS'], 'year': 2024}, 'student2': {'name': 'BBB', 'age': 1, 'courses': ['SQL', 'R', 'SPSS'], 'year': 2022}, 'student3': {'name': 'CCC', 'age': 11, 'courses': ['PYTHON', 'SPSS']}, 'student4': {'name': 'DDD', 'age': 12, 'courses': ['SQL', 'R']}, 'student5': {'name': 'EEE', 'age': 13, 'courses': ['PYTHON', 'R']}}

FUNCTION ARGUMENT
  #WITH

  #WITHOUT
  
  #DEFAULT

  #ARGS

  #KWARGS

In [ ]:
#DEFAULT
def fun(x,y=50):
  print(x,y)
fun(10)
def fun(x,y=50):
  print(x,y)
fun(10,20)
#KEYWORD ARGUMENT
def fun(fname,lname):
  print(fname,lname)
fun(fname="SWETHA",lname="RAJINIKANTH")
#ARGS AND KWARGS
def fun(*sequence):
  for x in sequence:
    print(x)
fun("hello","everyone","how","are","you")
def fun(**sequence):
  for x,y in sequence.items():
    print("%s:%s"% (x,y))
fun(first="hello",second="everyone",third="how",fourth="are",fifth="you")
#POSITIONAL ARGUMENT
def fun(x,y):
  print(x,y)
fun(10,20)
#WITHOUT ARGUMENT
def fun():
  print("HELLO")
fun()
#WITH ARGUMENT
def fun(x):
  print(x)
fun("HELLO")

10 50
10 20
SWETHA RAJINIKANTH
hello
everyone
how
are
you
first:hello
second:everyone
third:how
fourth:are
fifth:you
10 20
HELLO
HELLO

CONTROL STRUCTURES

  #IF, ELIF, ELSE

  #FOR LOOP

  #WHILE LOOP

  #RANGE
  
  #TERNARY OPERATOR

In [ ]:
#IF, ELIF, ELSE
age= 40
if age>30:
  print("above 30")
elif age>20:
  print("above 20")
else:
  print("below 20")
if age>20: print("above 20")#short hand if
a=330
b=330
print("A") if a>b else print("=") if a==b else print("B")#short hand if else
x=15
if x>10:
  print("above 10")
  if x>20:
    print("also above 20")
  else:
    print("but below 20")
else:
  print("below 10")#NESTED IF
a=33
b=200
if a>b:
  pass
txt = "Thebest things in life are free"
if "free" in txt:
  print("TRUE")
else:
  print("FALSE")#STRING
thislist=["apple","banana","orange"]
if "apple" in thislist:
  print("TRUE")
else:
  print("FALSE")#LIST(ALSO SAME FOR TUPLE AND SET EXCEPT THE BRACKETS)
mydict={"a":1,"b":2,"c":3}
if "a" in mydict.keys():
  print("TRUE")
else:
  print("FALSE")#DICTIONARY KEYS
if 1 in mydict.values():
  print("TRUE")
else:
  print("FALSE")#DICTIONARY VALUES
if (b,2) in mydict.items():
  print("TRUE")
else:
  print("FALSE")#DICTIONARY ITEMS
#FOR LOOP
for x in "banana":
  print(x)#STRING(SAME FOR SET)
fruits=["apple","banana","orange"]
for x in fruits:
  print(x)#LIST(SAME FOR TUPLE)
newlist=[]
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)#LIST COMPREHENSION
newlist=[x for x in fruits if "a" in x]
print(newlist)#SAME AS ABOVE
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
for x in thisdict:
  print(x)#DICTIONARY KEYS
for x in thisdict.keys():
  print(x)#SAME AS ABOVE
for x in thisdict:
  print(thisdict[x])#DICTIONARY VALUES
for x in thisdict.values():
  print(x)#SAME AS ABOVE
for x,y in thisdict.items():
  print(x,y)#DICTIONARY ITEMS
fruits=["apple","banana","orange"]
for x in fruits:
  print(x)
  if x=="banana":
    break#BREAK
for x in fruits:
  if x=="banana":
    break
  print(x)
for x in fruits:
  if x=="banana":
    continue#CONTINUE
  print(x)
for x in [1,3,5]:
  pass
a=["a","b","c"]
b=[1,2,3]
for x in a:
  for y in b:
    print(x,y)
for x in range(6):
  print(x)
else:
  print("finished")#if i use else condition in break statement print won't work
#while loop
thislist=["a","b","c","d","e"]
i=0
while i<len(thislist):
  print(thislist[i])
  i=i+1
while i<6:
  print(i)
  i=i+1
else:
  print("i is greater than 6")#with else
i=1
while i<6:
  print(i)
  if i==3:
    break
  i=i+1
i=0
while i<6:
  i=i+1
  if i==3:
    continue
  print(i)
i=0
while i<6:
  pass
  i+=1
#range
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)
for x in range(2,30,3):
  print(x)
for x in range(10,0,-2):
  print(x)#NEGATIVE STEP
thislist=["a","b","c"]
for i in range(len(thislist)):
  print(thislist[i])
#TERNARY OPERATOR
age= 20
print("above 20") if age>20 else print("below 20")
x="adult" if age>20 else "child"
print(x)
result= "above 20" if age>20 else "=" if age==20 else "below 20"
print(result)

above 30
above 20
=
above 10
but below 20
TRUE
TRUE
TRUE
TRUE
FALSE
b
a
n
a
n
a
apple
banana
orange
['apple', 'banana', 'orange']
['apple', 'banana', 'orange']
brand
model
year
brand
model
year
Ford
Mustang
1964
Ford
Mustang
1964
brand Ford
model Mustang
year 1964
apple
banana
apple
apple
orange
a 1
a 2
a 3
b 1
b 2
b 3
c 1
c 2
c 3
0
1
2
3
4
5
finished
a
b
c
d
e
5
i is greater than 6
1
2
3
1
2
4
5
6
0
1
2
3
4
5
2
3
4
5
2
5
8
11
14
17
20
23
26
29
10
8
6
4
2
a
b
c
below 20
child
=

HIGH ORDER FUNCTION
  #MAP

  #REDUCE

  #FILTER

  #LAMBDA

In [ ]:
#FILTER
num=[1,2,3,4,5,6,7,8,9,10]
def myfun(x):
  if x%2==0:
    return True
  else:
    return False
even= filter(myfun, num)
for x in even:
  print(x)
#MAP
def myfun(x):
  return len(x)
xx=map(myfun,("apple","banana","orange"))
#print(list(xx))
for x in xx:
  print(x)
myfun("orange")
def myfun(a,b):
  return a+b
aa=["apple","banana","cherry"]
bb=["orange","pineapple","lemon"]
x=map(myfun,aa,bb)
print(list(x))
#REDUCED
from functools import reduce
def myfun(x,y):
  return x+y
a=[1,2,3,5,7,0]
res=reduce(myfun,a)
print(res)
#LAMBDA
num=[1,2,3,4,5,6,7,8,9,10]
aaa=list(map(lambda x:x*2,num))
print(aaa)
bbb=list(filter(lambda x:x%2==0,num))
print(bbb)
ccc=reduce(lambda x,y:x+y,num)
print(ccc)
x=lambda a,b: a*b
print(x,(5,6))
def myfun(n):
  return lambda a:a*n
x=myfun(2)
y=myfun(4)
print(x(10))
print(x(20))
print(y(40))

2
4
6
8
10
5
6
6
['appleorange', 'bananapineapple', 'cherrylemon']
18
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10]
55
<function <lambda> at 0x7836a8a19c60> (5, 6)
20
40
160

In [16]:
#1
name="aaa"
def myfun():
  name="bbb"
  print(name)
myfun()
print(name)
#2
name="aaa"
def myfun():
  global name
  name="bbb"
  print(name)
myfun()
print(name)
#3
name="aaa"
def myfun():
  name="bbb"
  def myfun2():
    name="ccc"
    print(name)
  myfun2()
  print(name)
myfun()
print(name)
#4
name="aaa"
def myfun():
  name="bbb"
  def myfun2():
    nonlocal name
    name="ccc"
    print(name)
  myfun2()
  print(name)
myfun()
print(name)

bbb
aaa
bbb
bbb
ccc
bbb
aaa
ccc
ccc
aaa

In [22]:
#EXCEPTION HANDLING
#1
a=5
b=2
try:
  print("ressource open ")
  print(a/b)
  k=int(input("ENTER A NUMBER : "))
except ZeroDivisionError as e:
  print("Hey, you can't divide a number by zero")
except ValueError as e:
  print("Invalid input")
except Exception as e:
  print("something went wrong")
finally:
  print("resource closed")
#2
def myfun(num1,num2):
  try:
    if(isinstance(num1,int) or isinstance(num1,float)) and (isinstance(num2,int) or isinstance(num2,float)):
      return num1+num2
    else:
      raise Exception("only int and float values are allowed")
  except Exception as e:
    return e
print(myfun(1,2))
#3
def myfun(num1,num2):
  try:
    print(num1+num2)
  except TypeError:
    print("Invalid Number")
  except Exception as e:
    print(e)
  else:
    print("Successful...")
myfun(1,9)

ressource open
2.5
ENTER A NUMBER : 9
resource closed
3
10
Successful...